Training/ssd_mobilenet_v2_coco_2018_03_29 (1).tar.gz
Training/ssd_mobilenet_v2_coco_2018_03_29 (1).tar
Training/ssd_inception_v2_coco_2018_01_28.tar
Training/ssd_inception_v2_coco_2018_01_28.tar.gz
Training/training_data/model.ckpt-500.data-00000-of-00001
Training/training_data/model.ckpt-488.meta
Training/training_data/model.ckpt-488.index
Training/training_data/model.ckpt-488.data-00000-of-00001
Training/training_data/model.ckpt-473.meta
Training/training_data/model.ckpt-473.index
Training/training_data/model.ckpt-403.data-00000-of-00001
Training/training_data/graph.pbtxt
Training/training_data/events.out.tfevents.1546136872.MAHIRSOWAD-DELL
Training/training_data/checkpoint
Training/inference_graph/saved_model/saved_model.pb
Training/inference_graph/pipeline.config
Training/training_data/pipeline.config
Training/training_data/model.ckpt-500.meta
Training/training_data/model.ckpt-500.index
Training/training_data/model.ckpt-473.data-00000-of-00001
Training/training_data/model.ckpt-430.meta
Training/training_data/model.ckpt-430.index
Training/training_data/model.ckpt-430.data-00000-of-00001
Training/training_data/model.ckpt-403.meta
Training/training_data/model.ckpt-403.index
Training/inference_graph/model.ckpt.meta
Training/inference_graph/model.ckpt.index
Training/inference_graph/model.ckpt.data-00000-of-00001
Training/inference_graph/frozen_inference_graph.pb
Training/inference_graph/checkpoint
